# DEBUG: Set to "true" to enable debugging and developer features. (default: "false")
DEBUG=false

# SHOW_INTERNAL_TEST_PARAMS: Set to "true" to show internal advanced configuration parameters in KtvAssExport.
# Defaults to the value of NEXT_PUBLIC_DEBUG if not set.
SHOW_INTERNAL_TEST_PARAMS=false
